/* Centralizando e alocando uma imagem via URL */ 

body {
  background-image: url("https://i.ytimg.com/vi/sPfBq9JjoGk/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

header{
  font:  50px Impact;
  text-align: right;
  padding: 10px;
}

section {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 20px;
  font-weight: 100;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background: gray;
  box-shadow: 5px 5px 5px 1px;
}
  